<div id="cards" class="flex flex-col w-full gap-y-3">
  <div class="flex gap-x-3">
    <h2><%= @deck.cards.length %> Cards Total</h2>
    <% if @deck.is_owner(current_user) %>
      <%= link_to '+', new_deck_card_path(@deck), remote: true, class: "outline outline-2 bg-white-500 hover:bg-white-700 text-black font-bold px-2 rounded dark:outline-white dark:text-white" %>
    <% end %>
  </div>
  <turbo-frame id="card_to_review" class="flex flex-col w-full gap-y-3">
    <div class="flex gap-x-3 items-center">
      <h2><%= @deck.cards_to_review(current_user).length %> Cards To Review</h2>
      <% if @deck.cards_to_review(current_user).count > 0 %>
        <%= link_to 'start', study_deck_path(@deck), data: { turbo: false }, remote: true, class: "outline outline-2 rounded p-2" %>
      <% end %>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <%= render @deck.cards_to_review(current_user) %>
    </div>
    <div class="flex flex-row gap-x-3">
      <h2><%= @deck.cards_not_to_review(current_user).length %> Reviewed</h2>
      <% if @deck.cards_not_to_review(current_user).count > 0 %>
        <%= link_to '↺', reset_deck_path(@deck), remote: true, class: "outline outline-2 bg-white-500 hover:bg-white-700 text-black font-bold px-2 rounded dark:text-white dark:outline-white" %>
      <% end %>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <%= render @deck.cards_not_to_review(current_user) %>
    </div>
  </turbo-frame>
</div>
