<div class="w-1/2">
  <turbo-frame id="cards" class="flex flex-col w-full gap-y-3">
    <h2><%= @deck.cards.length %> Cards Total</h2>
    <h2><%= @deck.cards_to_review.length %> Cards To Review</h2>
    <div class="grid grid-cols-3 gap-4">
      <%= render @deck.cards_to_review %>
    </div>
    <h2><%= @deck.cards_not_to_review.length %> Reviewed</h2>
    <div class="grid grid-cols-3 gap-4">
      <%= render @deck.cards_not_to_review %>
    </div>
  </turbo-frame>
</div>
