<%= form_with model: deck do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% deck.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% deck.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :is_public %><br>
    <%= form.check_box :is_public %><br>
    <% deck.errors.full_messages_for(:is_public).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
