<div class="w-full flex flex-col gap-y-2">
  <div>
    <div class="flex flex-row gap-x-3 items-center">
      <h1><%= current_user.username_from_email %>'s Decks</h1>
      <%= link_to '+', new_deck_path, remote: true, class: "outline outline-2 outline-offset-2 bg-white-500 hover:bg-white-700 text-black font-bold px-2 rounded" %>
    </div>
    <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <% if @user_decks.count == 0 %>
      No user decks
    <% end %>

    <div class="w-full grid grid-cols-2 md:grid-cols-4 gap-4">
      <% @user_decks.each do |deck| %>
        <%= render deck %>
      <% end %>
    </div>
  </div>
  <div>
    We have <%= Deck.where(user_id: nil).count %> public deck<% if Deck.count != 1 %>s<% end %> and counting!
  </div>
  <div class="w-full grid grid-cols-2 md:grid-cols-4 gap-4">
    <% @decks.each do |deck| %>
      <%= render deck %>
    <% end %>
  </div>
</div>


